__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
env/
venv/
*.egg-info/
dist/
build/

poetry.lock

data/*
*.csv
*.parquet
*.npz
*.pth
*.pkl
*.h5
models/*

.ipynb_checkpoints/

.mypy_cache/
.ruff_cache/

db/*.db
db/*.db-journal

.DS_Store
Thumbs.db
