__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
env/
venv/
*.egg-info/
dist/
build/

poetry.lock

data/*
*.csv
*.parquet
*.npz
*.pth
*.pkl
*.h5
models/ech/*
models/shgn/*

.ipynb_checkpoints/

.mypy_cache/
.ruff_cache/

db/*.db
db/*.db-journal
db/*.db-wal
db/*.db-shm

.DS_Store
Thumbs.db

architecture_figures/
models/ecn/
models/shgn/
data/
